* text=auto !eol
braille/.classpath -text svneol=unset#text/plain
braille/.project -text svneol=unset#text/plain
braille/ant-build/resources/javase-6/package-list -text
braille/ant-build/resources/nsisant-1.2.jar -text
braille/build.xml -text svneol=unset#text/plain
braille/catalog/META-INF/services/org.daisy.braille.embosser.EmbosserProvider -text
braille/catalog/META-INF/services/org.daisy.braille.table.TableProvider -text
braille/catalog/META-INF/services/org.daisy.paper.PaperProvider -text
braille/catalog/com_braillo/Braillo200Embosser.java -text svneol=unset#text/plain
braille/catalog/com_braillo/Braillo200_270_400_v12_16Embosser.java -text
braille/catalog/com_braillo/Braillo440Embosser.java -text svneol=unset#text/plain
braille/catalog/com_braillo/Braillo440VolumeWriter.java -text svneol=unset#text/plain
braille/catalog/com_braillo/BrailloEmbosser.java -text svneol=unset#text/plain
braille/catalog/com_braillo/BrailloEmbosserProvider.java -text svneol=unset#text/plain
braille/catalog/com_braillo/BrailloTableProvider.java -text svneol=unset#text/plain
braille/catalog/com_braillo/BrailloVolumeWriter.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/BlueBarEmbosser.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/BlueBarEmbosserWriter.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/IndexBasicV3Embosser.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/IndexEmbosser.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/IndexEmbosserProvider.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/IndexEverestV3Embosser.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/IndexTableProvider.java -text svneol=unset#text/plain
braille/catalog/com_indexbraille/IndexV2Embosser.java -text svneol=unset#text/plain
braille/catalog/com_yourdolphin/SupernovaTableProvider.java -text svneol=unset#text/plain
braille/catalog/de_brailletec/ImpactoTableProvider.java -text svneol=unset#text/plain
braille/catalog/org_daisy/BrailleEditorsTableProvider.java -text svneol=unset#text/plain
braille/catalog/org_daisy/EmbosserTableProvider.java -text svneol=unset#text/plain
braille/catalog/org_daisy/GenericEmbosser.java -text svneol=unset#text/plain
braille/catalog/org_daisy/GenericEmbosserProvider.java -text svneol=unset#text/plain
braille/catalog/org_daisy/ISO216PaperProvider.java -text svneol=unset#text/plain
braille/catalog/org_daisy/NorthAmericaPaperProvider.java -text svneol=unset#text/plain
braille/catalog/org_daisy/TractorPaperProvider.java -text svneol=unset#text/plain
braille/catalog/se_tpb/CXTableProvider.java -text svneol=unset#text/plain
braille/catalog/se_tpb/FA44PaperProvider.java -text svneol=unset#text/plain
braille/lib/isorelax.jar -text
braille/lib/jing.jar -text
braille/lib/junit-4.4.jar -text
braille/lib/saxon8.jar -text
braille/lib/xercesImpl.jar -text
braille/lib/xml-apis.jar -text
braille/licenses/lgpl.txt -text svneol=unset#text/plain
braille/src/META-INF/services/org.daisy.braille.table.TableProvider -text
braille/src/META-INF/services/org.daisy.validator.Validator -text
braille/src/org/daisy/braille/BrailleConstants.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/AbstractEmbosser.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/AbstractEmbosserWriter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/BufferedVolumeEmbosser.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/ConfigurableEmbosser.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/DefaultEmbosserCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/Embosser.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserFactoryException.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserFeatures.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserFilter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserProperties.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserProvider.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserTools.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserWriter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/EmbosserWriterProperties.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/FileToDeviceEmbosserWriter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/LineBreaks.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/SimpleEmbosserProperties.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/StandardLineBreaks.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/UnsupportedPaperException.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/UnsupportedWidthException.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/VolumeWriter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/embosser/package.html -text svneol=unset#text/plain
braille/src/org/daisy/braille/facade/PEFConverterFacade.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/facade/PEFValidatorFacade.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/facade/package.html -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/Element.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/InputDetectionException.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/NumeralSortString.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFBook.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFFileMerger.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFFileSplitter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFGenerator.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFHandler.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFNamespaceContext.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/PEFValidator.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/RNG2Schtrn.xsl -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/Range.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/TextHandler.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/TextInputDetector.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/package.html -text svneol=unset#text/plain
braille/src/org/daisy/braille/pef/pef-2008-1-full.rng -text
braille/src/org/daisy/braille/pef/pef-2008-1-light.rng -text
braille/src/org/daisy/braille/table/AbstractConfigurableTableProvider.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/AbstractTable.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/AdvancedBrailleConverter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/BrailleConverter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/ConfigurableTableProvider.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/DefaultTableCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/DefaultTableProvider.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/EmbosserBrailleConverter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/EmbosserTable.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/Table.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/TableCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/TableFilter.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/TableProperties.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/TableProvider.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/table/package.html -text svneol=unset#text/plain
braille/src/org/daisy/braille/tools/FileCompare.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/tools/FileTools.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/tools/StringTranslator.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/tools/resource-files/normalize.xsl -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/AbstractUI.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/BasicUI.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/EmbossPEF.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/GeneratePEF.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/InputHelper.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/MergePEF.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/PEFParser.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/RawPrint.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/ShortFormResolver.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/SplitPEF.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/TextParser.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/ValidatePEF.java -text svneol=unset#text/plain
braille/src/org/daisy/braille/ui/package.html -text svneol=unset#text/plain
braille/src/org/daisy/factory/AbstractFactory.java -text svneol=unset#text/plain
braille/src/org/daisy/factory/Factory.java -text svneol=unset#text/plain
braille/src/org/daisy/factory/FactoryCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/factory/FactoryFilter.java -text svneol=unset#text/plain
braille/src/org/daisy/factory/Provider.java -text svneol=unset#text/plain
braille/src/org/daisy/factory/package.html -text svneol=unset#text/plain
braille/src/org/daisy/paper/DefaultPaper.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/DefaultPaperCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/Dimensions.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/PageFormat.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/Paper.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/PaperCatalog.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/PaperFilter.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/PaperProvider.java -text svneol=unset#text/plain
braille/src/org/daisy/paper/package.html -text svneol=unset#text/plain
braille/src/org/daisy/printing/Device.java -text svneol=unset#text/plain
braille/src/org/daisy/printing/FileDevice.java -text svneol=unset#text/plain
braille/src/org/daisy/printing/PrinterDevice.java -text svneol=unset#text/plain
braille/src/org/daisy/printing/package.html -text svneol=unset#text/plain
braille/src/org/daisy/validator/Validator.java -text svneol=unset#text/plain
braille/src/org/daisy/validator/ValidatorFactory.java -text svneol=unset#text/plain
braille/src/org/daisy/validator/package.html -text svneol=unset#text/plain
braille/tests/com_braillo/BrailloTableProviderTest.java -text svneol=unset#text/plain
braille/tests/com_indexbraille/IndexEmbosserProviderTest.java -text svneol=unset#text/plain
braille/tests/com_indexbraille/IndexTableProviderTest.java -text svneol=unset#text/plain
braille/tests/com_yourdolphin/SupernovaTableProviderTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/MainTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/braille/pef/PEFFileMergerTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/braille/pef/PEFFileSplitterTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/braille/pef/RangeTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/braille/pef/resource-files/PEFFileMergerTestExpected.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileMergerTestInput-1.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileMergerTestInput-2.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileMergerTestInput-3.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileSplitterTestExpected-1.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileSplitterTestExpected-2.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileSplitterTestExpected-3.pef -text
braille/tests/org/daisy/braille/pef/resource-files/PEFFileSplitterTestInput.pef -text
braille/tests/org/daisy/braille/table/AdvancedBrailleConverterTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/braille/table/EmbosserBrailleConverterTest.java -text svneol=unset#text/plain
braille/tests/org/daisy/braille/tools/StringTranslatorTest.java -text svneol=unset#text/plain
braille/tests/org_daisy/EmbosserTableProviderTest.java -text svneol=unset#text/plain
